<p id="notice"><%= notice %></p>

<h1>Salesmen</h1>

<table class="table table-striped table-hover table-responsive">
  <thead>
    
    <tr>
      <th class="d-block d-sm-none">Full Profile</th>
      <th class="d-none d-sm-block">Full name</th>
      <th class="d-none d-sm-block">Description</th>
      <th class="d-none d-sm-block">Profile image url</th>
      <th class="d-none d-sm-block">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @salesmen.each do |salesman| %>
      <tr>
        <td class="d-block d-sm-none">
          <img src="<%= salesman.profile_image_url %>" height="50"/>
          <label>Full Name</label>
          <h3 style="font-size: 12px;"><%= salesman.full_name %></h3>
          <label>Description</label>
          <p style="font-size: 10px;"><%= salesman.description %></p>
        </td>
        <td class="d-none d-sm-block d-md-block"><%= salesman.full_name %></td>
        <td  class="d-none d-sm-block"><%= salesman.description %></td>
        <td  class="d-none d-sm-block"><img src="<%= salesman.profile_image_url %>" height="50"/></td>
        <td  class="d-none d-sm-block">
          <%= link_to 'Show', salesman %><br/>
          <%= link_to 'Edit', edit_salesman_path(salesman) %><br/>
          <%= link_to 'Destroy', salesman, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salesman', new_salesman_path %>
